%h1 Редактирование группы

= render 'form'

%br
.btn-block
  =link_to @usergroup, class: 'btn btn-info' do
    =fa_icon 'arrow-right'
    Показать
  =link_to usergroups_path, class: 'btn btn-primary' do
    =fa_icon 'reply'
    Назад
