-if @current_owner.blank?
  -flash[:danger]='Необходима авторизация'
-else
  -if @usergroups.size>0
    %h1 Мои группы
    .row
      - @usergroups.each do |usgr|
        .list-group
          .col-md-5
            .list-group-item.active
              .fa.fa-users.li
              =usgr.name
              .btn-group
                =link_to usgr, class: 'btn btn-info btn-sm' do
                  =fa_icon 'arrow-right'
                =link_to edit_usergroup_path(usgr), class: 'btn btn-warning btn-sm' do
                  =fa_icon 'edit'
                =link_to usgr, :method => :delete, :data => { :confirm => 'Вы уверены?' }, class: 'btn btn-danger btn-sm' do
                  =fa_icon 'remove'
            -if @count.size>0
              -@count.each do |user|
                .list-group-item
                  =link_to user.login,user
                  =link_to user,:method => :delete, :controller=> :user_usergroups, data:{confirm: "Вы уверены?"}, class: 'btn btn-danger btn-xs' do
                    =fa_icon 'remove'
            -else
              .list-group-item
                .text-danger Группа пуста
            .list-group-item
              .fa.fa-user-plus.li
                =link_to 'Добавить пользователя',{:action => :new, :controller => :user_usergroups,:usergroup_id => usgr.id}, class: 'btn btn-default btn-xs'
  -else
    %h1.text-danger Группы ещё не созданы!
  %br
  = link_to new_usergroup_path, class: "btn btn-primary" do
    =fa_icon "plus"
    Новая группа
