.row
  .list-group
    .col-md-5
      .list-group-item.active
        .fa.fa-users.li
        = @usergroup.name
      -if UserUsergroup.all.to_a.size>0
        -if @usergroup.user_usergroups && @usergroup.user_usergroups.size>0
          - UserUsergroup.where(usergroup_id: @usergroup.id).each do |usr|
            .list-group-item
              =Owner.find(usr.user_id).login
          .list-group-item
            .fa.fa-user-plus.li
              =link_to 'Добавить пользователя',{:action => :new, :controller => :user_usergroups,:usergroup_id => @usergroup.id}, class: 'btn btn-default btn-xs'
        -else
          .list-group-item
            .text-danger Группа пуста
      -else
        .list-group-item
          .text-danger Группа пуста
%br
.row
  .btn-block
    -#=link_to 'Добавить пользователей',{:action => :new, :controller => :user_usergroups,:usergroup_id => @usergroup.id}, class: 'btn btn-primary'
    =link_to edit_usergroup_path(@usergroup), class: 'btn btn-danger' do
      =fa_icon 'edit'
      Редактировать
    =link_to usergroups_path, class: 'btn btn-info' do
      =fa_icon 'reply'
      Назад
