= form_for @owner, :html => { :multipart => true } do |f|
  =error_messages_for(@owner)
  .row
    .form-group
      .fa.fa-user.li
      =f.label :login
      =f.text_field :login, class: "form-control"
  .row
    .form-group
      .fa.fa-key.li
      =f.label :password
      =f.password_field :password, class: "form-control"
  .row
    .form-group
      .fa.fa-key
      .fa.fa-key.li
      =f.label :password_confirmation
      =f.password_field :password_confirmation, class: "form-control"
  .row
    .form-group
      .fa.fa-picture-o
      =f.label :avatar
      =f.file_field :avatar
  .row
    .form-group
      .fa.fa-home.li
      =f.label :residence
      =f.text_field :residence, class: "form-control"
  .row
    .form-group
      .fa.fa-venus-mars.li
      =f.label :sex
      =f.select :sex, ['м','ж'], class: "form-control"
  .row
    .form-group
      .fa.fa-birthday-cake.li
      =f.label :birthday
      =f.date_select :birthday, class: "form-control", start_year: 2015,
        end_year: 1930, prompt: { :day => 'День', :month => 'Месяц', :year => 'Год' }
    .form-group
      .fa.fa-envelope.li
      =f.label :mail
      =f.text_field :mail, class: "form-control"
  -if @owner.blank?
    .actions
      =f.submit 'Зарегистрироваться', class: "btn btn-primary"
  -else
    .actions
      =f.submit 'Сохранить', class: "btn btn-primary"