%p
  %b Группа:
  = link_to @user_usergroup.usergroup.name,@user_usergroup.usergroup
%p
  %b Пользователь:
  = link_to @user_usergroup.user.login,@user_usergroup.user
%p
  %b Дата вступления в группу:
  = @user_usergroup.begin_date
%p
  -if !@user_usergroup.description.blank?
    %b Описание:
    = @user_usergroup.description
  -else
    %b.text-danger Описание не добавлено!

.btn-block
  =link_to edit_user_usergroup_path(@user_usergroup), class: 'btn btn-warning btn-sm' do
    =fa_icon 'edit'
    Редактировать
  =link_to @user_usergroup.usergroup, class: 'btn btn-info' do
    =fa_icon 'reply'
    Назад
